---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Jairo y Laura">
	<Header />
	<div class="bg-gradient-to-b from-transparent w-full h-24 to-[#FBF1E3] -mt-24"></div>
	<div class=" w-full pt-8 -mt-0 flex flex-col items-center justify-center">
		<div class="text-4xl text-center">
			<img src="../Elemento-invitacion.jpeg" />
		</div>
	</div>
	<div class=" w-full mt-5 flex flex-col items-center justify-center">
		<div class="text-4xl text-center flex justify-center flex-col">
			<h1 class="great-vibes-regular text-[#c49d5f] my-10">Nicolás Garzón<br/> Londoño </h1>
		</div>
	</div>
	<div class=" w-full mt-12 flex flex-col items-center justify-center px-10 text-center">
		<h1 class="text-[#c49d5f] abhaya-libre-bold text-lg">¡El día que tanto hemos soñado ha llegado!</h1>
		<p class="text-[#c49d5f] text-sm abhaya-libre-regular">Nos encantaría tener el honor de tu compañía mientras celebramos el amor y el compromiso que hemos decidido compartir. Con inmensa alegría en nuestros corazones, nos complace extender esta invitación para que compartas con nosotros el momento más especial y emocionante de nuestras vidas.</p>
	</div>
	<div class=" w-full mt-2 flex flex-col items-center justify-center">
		<div class="text-4xl text-center flex flex-col items-center">
			<img src="../hora-fecha.jpeg" />
			<button class="rounded-full w-28 bg-[#c49d5f] relative abhaya-libre-bold text-white text-xs -mt-[1.1rem] px-4 py-[0.1rem]">
				<a href="https://maps.app.goo.gl/Stt514S1c9CE3EAr6">Ver Ubicación</a>
			</button>
		</div>
	</div>
	<div class=" w-full mt-2 flex flex-col items-center justify-center">
		<div class="text-4xl text-center">
			<img src="../condiciones.jpeg" />
		</div>
	</div>
	<div class=" w-full mt-2 flex flex-col items-center justify-center relative shadow-[#FCF1E3] shadow-2xl">
		<div class="text-4xl text-center">
			<img src="../fondo-2.jpeg" />
			<div class=" -mt-36">
				<h1 class="text-[#c49d5f] abhaya-libre-bold text-sm">Por favor confirmar asistencia antes <br/>del Viernes 2 de Agosto de 2024</h1>
				<button class="rounded-full bg-[#c49d5f] abhaya-libre-bold text-white text-lg px-10 py-1">
					<a href="https://forms.gle/qMq3LYG5kJoqLhm37">CONFIRMAR ASISTENCIA</a> 
				</button>
			</div>
		</div>
	</div>
	<Footer />
</Layout>


